<h1>Hierarchy Configurator</h1>
<div></div>
<div class="XS-dimension-selector"><button>CUST</button><button>PROD</button><button>ART</button></div>
<div class="XS-hierarchies">

<ng-template #editor>
<div
  #editorContainer
  class="node-edit"
  (focusout)="handleEditorFocusOut($event, editorContainer)"
>
  <kendo-textbox
    #textBox
    name="text"
    [formControl]="textFormControl"
    (keydown.enter)="handleEditorEnter($event)"
    (keydown.esc)="cancel()"
  ></kendo-textbox>

  <button kendoButton themeColor="primary" (click)="save()">Save</button>
  <button kendoButton (click)="cancel()">Cancel</button>
</div>
</ng-template>

  <kendo-treeview
    #dimensions
    [nodes]="data.dimensions"
    textField="text"
    kendoTreeViewHierarchyBinding
    childrenField="items"
    kendoTreeViewExpandable
    expandBy="id"
    [expandedKeys]="[1]"
    [dropZoneTreeViews]="[hierarchies]"
    kendoTreeViewDragAndDrop
    kendoTreeViewDragAndDropEditing
    (nodeDragStart)="log('nodeDragStart', $event)"
    (nodeDrag)="log('nodeDrag', $event)"
    (nodeDrop)="handleDrop($event)"
    (addItem)="log('addItem', $event)"
    (removeItem)="log('removeItem', $event)"
    (nodeDragEnd)="log('nodeDragEnd', $event)"
  >
    <ng-template kendoTreeViewNodeTemplate let-dataItem>
      <span [ngClass]="iconClass(dataItem)"></span>
      {{ dataItem.text }}
      <span
        [ngClass]="addIconClass(dataItem)"
        (click)="addDimensionLevel(dataItem)"
      ></span>
    </ng-template>
    <ng-template
      kendoTreeViewDragClueTemplate
      let-action="action"
      let-destinationItem="destinationItem"
      let-text="text"
    >
      <span
        class="k-drag-status k-icon"
        [ngClass]="getDragStatus(action, destinationItem)"
      ></span>
      <span>{{ text }}</span>
    </ng-template>
  </kendo-treeview>

  <kendo-treeview
    #hierarchies
    id="trwHierarchy"
    [nodes]="data.hierarchies"
    textField="text"
    kendoTreeViewHierarchyBinding
    childrenField="items"
    kendoTreeViewExpandable
    expandBy="id"
    [expandedKeys]="[1]"
    kendoTreeViewDragAndDrop
    kendoTreeViewDragAndDropEditing
    (nodeDragStart)="log('nodeDragStart', $event)"
    (nodeDrag)="log('nodeDrag', $event)"
    (nodeDrop)="handleDrop($event)"
    (addItem)="log('addItem', $event)"
    (removeItem)="log('removeItem', $event)"
    (nodeDragEnd)="log('nodeDragEnd', $event)"
  >
    <ng-template kendoTreeViewNodeTemplate let-dataItem>
      <span [ngClass]="iconClass(dataItem)"></span>
      {{ dataItem.text }}
      <span
        [ngClass]="addIconClass(dataItem)"
        (click)="addHierarchy(dataItem)"
      ></span>
    </ng-template>
    <ng-template
      kendoTreeViewDragClueTemplate
      let-action="action"
      let-destinationItem="destinationItem"
      let-text="text"
    >
      <span
        class="k-drag-status k-icon"
        [ngClass]="getDragStatus(action, destinationItem)"
      ></span>
      <span>{{ text }}</span>
    </ng-template>
  </kendo-treeview>
</div>
<div>

</div>
