.XS-hierarchies {
  display: flex;
  align-items: baseline;
}

.XS-dimension-selector{
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

button{
  margin: 10px;
  background-color: cornflowerblue;
}
#trwHierarchy {
  padding-left: 100px;
}
